* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --board-color: #bbada0;
  --tile-color: #cdc1b4;
}

body {
  padding: 8px;
  height: 100vh;
}

button {
  border-style: none;
}
